# dependencies
/node_modules

# next
/.next
/out

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# envs (credenciais admin e segredos)
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# local large files
elite-aromas.zip
